:root {
    --primary-color: #d91a32;
}

.container {
    width: 500px;
    margin: 0px;
}

.form-select {
    /* font-size:small; */
}

.form-label {
    font-weight: 500;
}

.form-box {
    text-align: center;
    margin-top: 5px;
}