:root {
    --primary-color: #d91a32;
}

.card-title {
    color: #d91a32;
    font-weight: bolder;
}

.container {
    /* width: 500px; */
    margin: 0px;
}

.form-label {
    font-weight: 500;
}

.form-box {
    text-align: center;
    margin-top: 5px;
}

.row {
   /* width: 500px; */
}

body {
    /* width: 500px; */
}

body::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
body::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
background-color: #a81529b4;
border-radius: 10px;
}

.card {
    border-radius: 2% 2%;
    margin: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    margin-top: 10%;
}

.card-body {
    height: 5rem;
}

.card-title {
    padding-top: 1rem;
}

.profilePicture {
    object-fit: cover;
    border-radius: 60% 60%;
    position: relative;
    height:180px;
    max-height: 100%;
    max-width: 50%;
    width:180px;
    top: 20px;
    left: 50%;
    max-width: 180px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #d91a34ab;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

label { 
    color: #d91a32;
}

.list-group-item {
    
}

.custom-pagination {
    font-size: 17px; 
}
    
.custom-pagination .page-item .page-link {
    color: #000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0 2px;
    text-align: center; 
}

.custom-pagination .page-item .page-link:active, .custom-pagination .page-item .page-link:focus, .custom-pagination .page-item .page-link:hover {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.custom-pagination .page-item span.page-link {
    color: #6c757d;
    letter-spacing: .1rem; 
}

.custom-pagination .page-item span.page-link:hover {
    background: none !important; 
}

.custom-pagination.pagination-primary .page-item.active .page-link {
    background-color: #f34573;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(243, 69, 115, 0.2);
    box-shadow: 0 2px 5px 0 rgba(243, 69, 115, 0.2); 
}

.arrow {
    font-size: 25px;
}
  
.bg-image {
height: 80vh;
background-size: cover;
background-position: center center; }
  