.pet-image {
    /* width: auto; */
    /* height: 600px; */
    /* max-height: 600px; */
    object-fit: contain;
    aspect-ratio: 1/1;
    margin-top: 2%;
}

#animal-name {
    position: relative;
    color: #a81529;
}

#animal-description {
    padding: 0.5rem;
}

.container {
    padding: 2%;
    background-color: #f4f1ea;
}

.box {
    background-color:rgb(253, 253, 253);
    /* border-radius: 2% 2%; */
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
    background-color: #f4f1ea;
}

a{
    color: #a81529b4
}

a:hover{
    color: #fd2b47d8
}

.next-button {
    background-image: url(./icons/next.png);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.prev-button {
    background-image: url(./icons/prev.png);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.carousel-control-prev {
    opacity: .7;
}

.carousel-control-next {
    opacity: .7;
}